<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="INPUT_FILE" value="input.txt" />
    <add key="INPUT_PATH" value="C:\DATA\" />
    <add key="FCCDATA" value="Server=.;Database=FCC;Trusted_Connection=True;"/>
  </appSettings>

</configuration>